<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jiufu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADA0FDB51F7D2510006C0D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADA0FDC91F7D2510006C0D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADA0FDD41F7D2510006C0D86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
